{% extends 'base.html' %}
{% block title %}DevControl{% endblock %}
{% block content %}
    <h1>Bem-vindo ao DevControl</h1>

    <p>
        Sistema interno para controle de entrada e saída de veículos.
        Utilize o menu acima para registrar ou consultar informações.
    </p>
   <div class="dashboard">
        <div class="card">
            <h3>Entradas</h3>
            <p>{{ total_entradas }}</p>
        </div>
        <div class="card">
            <h3>Saídas</h3>
            <p>{{ total_saidas }}</p>
        </div>
        <div class="card">
            <h3>Veículos no Pátio</h3>
            <p class="{% if veiculos_patio < 0 %}danger{% else %}ok{% endif %}">
                {{ veiculos_patio }}
            </p>
        </div>
    </div>

    
{% endblock %}
