{% extends 'base.html' %}
{% block title %}DevControl{% endblock %}
{% block content %}
    <h1>Bem-vindo ao DevControl</h1>

    <p>
        Sistema interno para controle de entrada e saída de veículos.
        Utilize o menu acima para registrar ou consultar informações.
    </p>
   <h1>Dashboard</h1>

<div class="cards">
  <div class="card">Entradas hoje: <strong>{{ entradas }}</strong></div>
  <div class="card">Saídas hoje: <strong>{{ saidas }}</strong></div>
  <div class="card">Veículos no pátio: <strong>{{ no_patio }}</strong></div>
</div>

<h2>Status dos veículos</h2>

<table border="1" cellpadding="5">
  <tr>
    <th>Placa</th>
    <th>Modelo</th>
    <th>Status</th>
  </tr>
  {% for v in status_veiculos %}
  <tr>
    <td>{{ v.placa }}</td>
    <td>{{ v.modelo }}</td>
    <td>{{ v.status }}</td>
  </tr>
  {% endfor %}
</table>


    
{% endblock %}
