{% extends 'base.html' %}

{% block title %}Registros{% endblock %}

{% block content %}
<h1>Registros de Veículos</h1>

<table>
    <thead>
        <tr>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Setor</th>
            <th>Data / Hora</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        {% for r in registros %}
        <tr>
            <td>{{ r.placa }}</td>
            <td>{{ r.modelo }}</td>
            <td>{{ r.setor }}</td>
            <td>{{ r.data_hora }}</td>
            <td>{{ r.tipo|capitalize }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
