{% extends 'base.html' %}
{% block title %}Devcontrol{% endblock %}
{% block content %}
    <h2 class="page-title">📊 Dashboard</h2>
    <section class="dashboard-grid">
        <div class="card highlight">
            <span class="icon">🚗</span>
            <div>
                <h4>No pátio agora</h4>
                <div class="value">{{ veiculos_dentro }}</div>
                <small>veículos ativos</small>
            </div>
        </div>
    <div class="card">
    <span class="icon">📥</span>
    <div>
      <h4>Entradas hoje</h4>
      <div class="value">{{ entradas_hoje }}</div>
      <small>desde 00:00</small>
    </div>
  </div>

  <div class="card">
    <span class="icon">📤</span>
    <div>
      <h4>Saídas hoje</h4>
      <div class="value">{{ saidas_hoje }}</div>
      <small>desde 00:00</small>
    </div>
  </div>

  <div class="card">
    <span class="icon">📏</span>
    <div>
      <h4>KM rodados</h4>
      <div class="value">{{ km_rodados }} km</div>
      <small>hoje</small>
    </div>
  </div>
</section>

<section class="quick-actions">
  <a href="/entrada" class="action-card success">
    ➕ Registrar entrada
  </a>

  <a href="/saida" class="action-card danger">
    ➖ Registrar saída
  </a>

  <a href="{{ url_for('veiculos.novo_veiculo') }}" class="action-card info">
    🚘 Cadastrar Veiculo
  </a>
</section>
{% endblock %}